.recuadro {
  background-color:#ffffcc;
  font-family:verdana;
  font-size:14px;
  
  width: 500px;
  height: 1000px;
  left: 100px;
  
  position: absolute;
	
  border-top-width:1px;
  border-right-width:3px;
  border-bottom-width:3px;
  border-left-width:1px;

  border-top-style:dotted;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:dotted;

  border-top-color:#ffaa00;
  border-right-color:#ff0000;
  border-bottom-color:#ff0000;
  border-left-color:#ffaa00;
}

#tiempo{
	background-color:#ffffcc;
	margin-left:auto;
	margin-right:auto;
	width: 1200px;
}

 .tabla{
  width: 1200px;
  margin-left:auto;
  margin-right:auto; 
  }
  
  .celda{
	
	float: left; 
	background-color:#ffffcc;
	width: 100px;
	height: 60px;
	border: 5px solid white;
	margin-left:auto;
	margin-right:auto;
  }
  
  .clear{
	clear: both;
  }